#{extends 'main.html' /}
#{set title:'Projeto de Sistema Distribu&iacute;do InfoClin' /}
<div id="login-box">
<h2>LOGIN</h2>

<form action="@{Application.efetuarLogin}" id="login" method="post">
<div id="login-box-name">Usu&aacute;rio:</div><div id="login-box-field">
<input name="usuario" class="form-login" title="Usuario" value="" size="30" maxlength="2048" /></div>
<div id="login-box-name">Senha:</div><div id="login-box-field">
<input name="senha" type="password" class="form-login" title="Senha" value="" size="30" maxlength="2048" /></div>
<br />
<span class="login-box-options"><input type="checkbox" name="1" value="1">Lembrar-me <a href="#">Esqueceu sua senha?</a></span>
<br />
<br />
<button id="submit_button"></button>
</form>
</div>
<script type="text/javascript">
<!--
$('#submit_button').click(function() {
	  $('#login').submit();
	});
//-->
</script>
</div>
