#{extends 'main.html' /}
#{set title:'Projeto de Sistema Distribu&iacute;do InfoClin' /}
<img src="/public/images/foto.jpg" id="foto";/>
<h2>SISTEMA INFOCLIN</h2>
<p class="index">
Esse sistema permite automatizar o processo de atendimento de uma cl&iacute;nica m&eacute;dica, fornecendo recursos que permitam a melhor execu&ccedil;&atilde;o e condu&ccedil;&atilde;o de diagn&oacute;sticos, exames e agendamentos de consultas, possibilitando a integra&ccedil;&atilde;o gerencial da cl&iacute;nica.
<br/><br/>
Este sistema est&aacute; sendo desenvolvido como parte da atividade integradora multidisciplinar de Projeto de Desenvolvimento de Sistemas Distribu&iacute;dos dos alunos do 4&ordm; Per&iacute;odo do curso de An&aacute;lise e Desenvolvimento de Sistemas, semestre 2011.1.
<br/><br/>
Agradecimentos especiais a: Prof&ordf; Mar&iacute;lia, Gerente e Prof&ordm; Gilbert Azevedo, "Cliente" e todos os professores que nos ajudaram nesta empreitada.
</p>

</div>
