#{extends 'main.html' /}
#{set title:'Projeto de Sistema Distribu&iacute;do InfoClin' /}

<h2 style="margin-left:100px;margin-bottom:50px;"><img src="/public/images/agenda.png" style="width:50px;" /><a href="@{Application.agendar}" style="color:#fff;text-decoration:none">Agendar um atendimento.</a></h2>
<h2 style="margin-left:100px;"><img src="/public/images/lupa.png" style="width:50px;" /><a href="@{Application.listar}" style="color:#fff;text-decoration:none">Conferir resultados de exames.</a></h2>

</div>