@CHARSET "ISO-8859-1";
div#master{
	/*border: dotted;*/
	text-align: center;
}

div#header{
	border: solid 1px white;
	width: 1020px;
	height: 350px;
	margin-left: 10%;
	margin-right: 10%;
	background-repeat: no-repeat;
	border-left-color: black;
	border-right-color: black;
}

div#menu{
	margin: -180px;
	
}